.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

themes/cactus/.DS_Store
themes/cactus/.idea/
themes/cactus/*.log
themes/cactus/*.iml
themes/cactus/.tern-port
themes/cactus/yarn.lock
themes/cactus/package-lock.json
themes/cactus/node_modules/
